<header>
<h2>スケジュール管理アプリ</h2>
</header>


<div class="main">


<div class="upper">
<h4>予定一覧</h4>
<p><%= link_to "新規追加", :new_schedule %></p>
</div>

<table>
   <thead>
     <tr>
       <th>id</th>
       <th>タイトル</th>
       <th>開始日</th>
       <th>終了日</th>
       <th>終日</th>
       <th>更新日時</th>
     </tr>
   </thead>
 
   <tbody>
   <%# <% if @schedules.count > 0 %>
     <% @schedules.each do |schedule| %>
       <tr>
         <td><%= schedule.id %></td>
         <td><%= schedule.title %></td>
         <td><%= schedule.start_date %></td>
         <td><%= schedule.end_date %></td>
         <td><% if schedule.is_all_day  == true %>
          ○
         <% else schedule.is_all_day == false %>
         
         <%end%>
         </td>
         <td><%= schedule.updated_at.to_s(:datetime_jp) %></td>
         <td>
         <%= link_to "詳細", schedule %>
         </td>
          <td>
           <%= link_to "編集", [:edit, schedule] %>
         </td>
         <td>
           <%= link_to "削除", schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %>
         </td>
       </tr>
     <% end %>
   </tbody>
</table>

<% if flash[:success] %>
   <p class="success"><%= flash[:success] %></p>
 <% end %>

<div class= "under">
<p>
予定合計
<%= @schedules_total%>
</p>
<p>本日の日付 <%=Date.today %></p>
</div>
</div>

