<header>
<h2>スケジュール管理アプリ</h2>
</header>



<div class="main">

 <div class="show-upper">
   <ul>
     <li><%= link_to "一覧に戻る", :schedules %></li>
     <li><%= link_to "編集", :edit_schedule %></li>
   </ul>
 </div>

<table>
   <tr>
     <th>タイトル</th>
     <td><%= @schedule.title %></td>
   </tr>
   <tr>
     <th>開始日</th>
     <td><%= @schedule.start_date.to_s(:date) %></td>
   </tr>
   <tr>
     <th>終了日</th>
     <td><%= @schedule.end_date.to_s(:date) %></td>
   </tr>
   <tr>
     <th>終日</th>
     <td><% if @schedule.is_all_day  == true %>
     ○
     <% else @schedule.is_all_day == false %>
         
     <%end%>
     </td>
   </tr>
   <tr>
     <th>スケジュールメモ</th>
     <td><%= @schedule.memo %></td>
   </tr>
 </table>
</div>